{% extends "base.html" %}

{% load static %}

{% block content %}


<div class="section mt-5">
    <div class="container">
        <div class="mb-3">
            <h2>Categorias</h2>
            <!-- Link to open the modal -->
            <a href="{% url 'catalog:category_new' %}" rel="modal:open" class="btn btn-primary btn-pill">Nuevo</a>
            <input type="search" name="search" id="id_search" placeholder="Buscar..">
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Estado</th>
                        <th>Editar</th>
                        <th>Excluir</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in obj %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.description }}</td>
                        <td>{{ item.status }}</td>
                        <td><a href="">Editar</a></td>
                        <td><a href="">Excluir</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>  
</div>
{% endblock %}

{% block footer %}
{% endblock %}